fastapi
uvicorn
flask
transformers
PyMuPDF
requests
gunicorn
TensorFlow
tf-keras
tiktoken
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-parse
langchain
langchain_community